volumes/nodered/flows.json
[
    {
        "id": "cbd90930c9da13e1",
        "type": "tab",
        "label": "sensorflow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6fce02be3b0436a0",
        "type": "tab",
        "label": "history",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "240b11703038dcb8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "06e92153a3f4061f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#000000",
            "primary": "#00ff91",
            "bgPage": "#0a0000",
            "groupBg": "#050000",
            "groupOutline": "#327170"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "66ead7660a05f451",
        "type": "ui-page",
        "name": "Giám Sát Nhiệt Độ Môi Trường",
        "ui": "240b11703038dcb8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "06e92153a3f4061f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "113cebdcb5219459",
        "type": "ui-group",
        "name": "Trong Nhà",
        "page": "66ead7660a05f451",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6b2d09deabe1563a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4bd59a96017c36a",
        "type": "ui-group",
        "name": "Ngoài Trời",
        "page": "66ead7660a05f451",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e104a6a9233bdc44",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0a1eb5ca8cb92598",
        "type": "ui-page",
        "name": "Lịch Sử Giám Sát 7 Ngày",
        "ui": "240b11703038dcb8",
        "path": "/page2",
        "icon": "mdi-history",
        "layout": "grid",
        "theme": "06e92153a3f4061f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1b30c49a2cfc71d6",
        "type": "ui-group",
        "name": "Trong Nhà",
        "page": "0a1eb5ca8cb92598",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f4eb8aca16f0bfd1",
        "type": "ui-group",
        "name": "Ngoài Trời",
        "page": "0a1eb5ca8cb92598",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "32cc0252b838a0fa",
        "type": "MySQLdatabase",
        "name": "mysql",
        "host": "mysql",
        "port": "3306",
        "db": "iot_db",
        "tz": "+07:00",
        "charset": "UTF8"
    },
    {
        "id": "731a391c894b18cb",
        "type": "MySQLdatabase",
        "name": "database",
        "host": "mysql",
        "port": "3306",
        "db": "iot_db",
        "tz": "+07:00",
        "charset": "UTF8"
    },
    {
        "id": "06cf106a37b77984",
        "type": "ui-gauge",
        "z": "cbd90930c9da13e1",
        "name": "",
        "group": "113cebdcb5219459",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Nhiệt độ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0651fc403c308a99",
        "type": "ui-gauge",
        "z": "cbd90930c9da13e1",
        "name": "",
        "group": "113cebdcb5219459",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Độ ẩm",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "37e05972b5614e35",
        "type": "ui-gauge",
        "z": "cbd90930c9da13e1",
        "name": "",
        "group": "d4bd59a96017c36a",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Nhiệt độ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a81c10fb9f90f7d5",
        "type": "ui-gauge",
        "z": "cbd90930c9da13e1",
        "name": "",
        "group": "d4bd59a96017c36a",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Độ ẩm",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "acf5f18c6449307c",
        "type": "mqtt in",
        "z": "cbd90930c9da13e1",
        "name": "",
        "topic": "sensor/+",
        "qos": "2",
        "datatype": "json",
        "broker": "6b2d09deabe1563a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "042cae2839d91a7a"
            ]
        ]
    },
    {
        "id": "042cae2839d91a7a",
        "type": "function",
        "z": "cbd90930c9da13e1",
        "name": "function 1",
        "func": "var id = msg.payload.device_id;\nvar tempMsg = { payload: msg.payload.temperature };\nvar humMsg = { payload: msg.payload.humidity };\n\nif (id === \"ESP32_PhongKhachin\") {\n    return [tempMsg, humMsg, null, null];\n} else if (id === \"ESP32_PhongKhachout\") {\n    return [null, null, tempMsg, humMsg];\n}\nreturn [null, null, null, null];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "06cf106a37b77984",
                "0db254074b77b5ac"
            ],
            [
                "0651fc403c308a99",
                "172d1d898ea56de4"
            ],
            [
                "37e05972b5614e35",
                "b36db3bfa6058a18"
            ],
            [
                "a81c10fb9f90f7d5",
                "53caa944dccd766c"
            ]
        ]
    },
    {
        "id": "0db254074b77b5ac",
        "type": "trigger",
        "z": "cbd90930c9da13e1",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "06cf106a37b77984"
            ]
        ]
    },
    {
        "id": "172d1d898ea56de4",
        "type": "trigger",
        "z": "cbd90930c9da13e1",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 140,
        "wires": [
            [
                "0651fc403c308a99"
            ]
        ]
    },
    {
        "id": "b36db3bfa6058a18",
        "type": "trigger",
        "z": "cbd90930c9da13e1",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 520,
        "wires": [
            [
                "37e05972b5614e35"
            ]
        ]
    },
    {
        "id": "53caa944dccd766c",
        "type": "trigger",
        "z": "cbd90930c9da13e1",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 580,
        "wires": [
            [
                "a81c10fb9f90f7d5"
            ]
        ]
    },
    {
        "id": "1089e18815a4b0e2",
        "type": "inject",
        "z": "6fce02be3b0436a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "67f46d91dd8f59ba"
            ]
        ]
    },
    {
        "id": "67f46d91dd8f59ba",
        "type": "function",
        "z": "6fce02be3b0436a0",
        "name": "function 2",
        "func": "msg.topic = `\n    SELECT \n        device_id,\n        UNIX_TIMESTAMP(DATE_FORMAT(created_at, '%Y-%m-%d %H:00:00')) * 1000 AS time_bucket, \n        ROUND(AVG(temperature), 1) as temp, \n        ROUND(AVG(humidity), 1) as hum \n    FROM sensor_data \n    WHERE device_id IN ('ESP32_PhongKhachin', 'ESP32_PhongKhachout')\n      AND created_at >= NOW() - INTERVAL 7 DAY \n    GROUP BY device_id, time_bucket \n    ORDER BY time_bucket ASC;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "dde4dee6280ca8a0"
            ]
        ]
    },
    {
        "id": "1b1ef9ea403dc752",
        "type": "ui-chart",
        "z": "6fce02be3b0436a0",
        "group": "f4eb8aca16f0bfd1",
        "name": "Độ ẩm ngoài trời",
        "label": "Độ Ẩm",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "604800",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa9c0bac6afc9a2",
        "type": "ui-chart",
        "z": "6fce02be3b0436a0",
        "group": "1b30c49a2cfc71d6",
        "name": "Nhiệt độ trong nhà",
        "label": "Nhiệt Độ",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "604800",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "77b0de4a47f1aa3c",
        "type": "ui-chart",
        "z": "6fce02be3b0436a0",
        "group": "f4eb8aca16f0bfd1",
        "name": "Nhiệt độ ngoài trời",
        "label": "Nhiệt Độ",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "604800",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8f378e00e9cc9d5b",
        "type": "ui-chart",
        "z": "6fce02be3b0436a0",
        "group": "1b30c49a2cfc71d6",
        "name": "Độ ẩm trong nhà",
        "label": "Độ Ẩm",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "604800",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8f5d2d51e73d70a8",
        "type": "function",
        "z": "6fce02be3b0436a0",
        "name": "function 3",
        "func": "let tempIn = [], humIn = [];\nlet tempOut = [], humOut = [];\n\nif (!msg.payload || !Array.isArray(msg.payload)) {\n    return [null, null, null, null];\n}\n\nmsg.payload.forEach(row => {\n    let t = Number(row.time_bucket);\n    let temp = Number(row.temp);\n    let hum = Number(row.hum);\n\n    // GÁN CHUẨN QUỐC TẾ x VÀ y\n    if (row.device_id === 'ESP32_PhongKhachin') {\n        tempIn.push({ x: t, y: temp });\n        humIn.push({ x: t, y: hum });\n    } else if (row.device_id === 'ESP32_PhongKhachout') {\n        tempOut.push({ x: t, y: temp });\n        humOut.push({ x: t, y: hum });\n    }\n});\n\nlet msgTempIn = { topic: \"Nhiệt độ Trong nhà\", payload: tempIn };\nlet msgHumIn = { topic: \"Độ ẩm Trong nhà\", payload: humIn };\nlet msgTempOut = { topic: \"Nhiệt độ Ngoài trời\", payload: tempOut };\nlet msgHumOut = { topic: \"Độ ẩm Ngoài trời\", payload: humOut };\n\nreturn [msgTempIn, msgHumIn, msgTempOut, msgHumOut];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 340,
        "wires": [
            [
                "3fa9c0bac6afc9a2"
            ],
            [
                "8f378e00e9cc9d5b"
            ],
            [
                "77b0de4a47f1aa3c"
            ],
            [
                "1b1ef9ea403dc752"
            ]
        ]
    },
    {
        "id": "dde4dee6280ca8a0",
        "type": "mysql",
        "z": "6fce02be3b0436a0",
        "mydb": "731a391c894b18cb",
        "name": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "8f5d2d51e73d70a8",
                "0abeda87a0f205be"
            ]
        ]
    },
    {
        "id": "0abeda87a0f205be",
        "type": "debug",
        "z": "6fce02be3b0436a0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    }
]